:root {
    --clr-dark: #0d1b2a;
    --clr-mdark: #1b263b;
    --clr-ldark: #415a77;
    --clr-light:#778da9;
    --clr-neutral: #e0e1dd;
}

html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(10vh);
    scroll-snap-type: y mandatory;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

